*
{
    box-sizing: border box;
    margin:0;
    font-family:'Fira sans',sans-serif;
}
body
{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:rgb(177 152 139);
    color:#FFF;
}
header
{
    padding:2rem 1rem;
    max-width:800px;
    width:100%;
    margin:  auto;
}
header h1{
    font-size:2.5rem;
    font-weight:300;
    color:#3d2020;
    margin-bottom:1rem;
    text-align: center;
}
@media(max-width:600px)
{
    header h1
    {
        font-size:18px;
        margin-right:180px;
        
    }
}
#new-form
{
    display:flex;
}
input
{
    appearance: none;
    border:none;
    outline:none;
    background:none;
}
#new-input
{
    flex: 1;
    background-color:#1F2937;
    padding:1rem;
    border-radius:1rem;
    margin-right:10px;
    color:white;
    font-size:1.25rem;
}

#new-input::placeholder
{
    color:#687280;
    
}
#new-submit
{
    color:#0a0a0a;
    font-size:1.25rem;
    font-weight:700;
    background-image:linear-gradient(to right,#201a1d,#5cf68a);
    cursor:pointer;
    transition:0.4s;
    border-radius:15px;
    
}
#new-submit:hover
{
    opacity:0.8;
}
#new-submit:active
{
    opacity:5;
}

main{
    flex: 1;;
    padding:5px 5px;
    max-width:800px;
    width:50%;
    margin:auto;
}
.task-list
{
    padding:1px;;
}
.task-list h2
{
    font-size:1.5rem;
    font-weight:300;
    color:red;
    margin-bottom:1rem;
    text-align: center;
}
#tasks .task
{
    display:flex;
    justify-content:space-between;
    background-color:rgba(43, 68, 207, 0.623);
    padding:0.5rem;
    border-radius:0.5rem;
    margin-bottom: 1rem;
}
@media(max-width:600px)
{
    #tasks .task
    {
        width:150%;
        margin-left:-40px;
        padding:10px;
    }
}
#tasks .task .content{
    flex: 1 ;
    padding:3px ;
    color:black;
}
#tasks .task .content .text
{
    color:black;
    transition:0.4s;
    

}
#tasks .task .action
{
    display:flex;
    margin: 3px;
}
.task .actions button{
    
  cursor:pointer;
  margin:3px;
  font-size:20px;
  font-weight:700;
  transition:0.4s;
  background-color:black
}
.tasks .actions button:hover
{
    opacity:0.8;
    
    right:0;

    
}
.tasks .actions button:active
{
    opacity:0.6;
}
.task .actions .edit
{
    color:crimson;
}
.task .actions .delete
{
    color:crimson;
}
