*
{
    box-sizing: border box;
    margin:0;
    font-family:'Fira sans',sans-serif;
}

body
{
    display:flex;
    flex-direction:column;
    min-height:100vh;
    background:#374137;
    color:#FFF;
}

header
{
    padding:2rem 1rem;
    max-width:800px;
    width:100%;
    margin:  auto;
}
header h1{
    font-size:2.5rem;
    font-weight:300;
    color:gray;
    margin-bottom:1rem;
}
#new-form
{
    display:flex;
}
input,button
{
    appearance: none;
    border:none;
    outline:none;
    background:none;
}
#new-input
{
    flex: 1;
    background-color:#1F2937;
    padding:1rem;
    border-radius:1rem;
    margin-right:1rem;
    color:white;
    font-size:1.25rem;


}
#new-input::placeholder
{
    color:#687280;
}
#new-submit
{
    color:var#EC4899;
    font-size:1.25rem;
    font-weight:700;
    background-image:linear-gradient(to right,#EC4899,#885Cf6);
    cursor:pointer;
    transition:0.4s;
}
#new-submit:hover
{
    opacity:0.8;
}
#new-submit:active
{
    opacity:0.6;
}

main{
    flex: 1;;
    padding:5px 5px;
    max-width:800px;
    width:50%;
    margin:auto;
}

.task-list
{
    padding:1px;;
}
.task-list h2
{
    font-size:1.5rem;
    font-weight:300;
    color:red;
    margin-bottom:1rem;
}
#tasks .task
{
    display:flex;
    justify-content:space-between;
    background-color:#0c0f16;
    padding:1rem;
    border-radius:1rem;
    margin-bottom: 1rem;
}
#tasks .task .content{
    flex: 1 ;

}
#tasks .task .content .text:not(:read-only)
{
    color:white;
     transition:0.4s;
}
#tasks .task .action
{
    display:flex;
    margin: 3px;
}
.task .actions button{
    
  cursor:pointer;
  margin:4px;;
  font-size:20px;
  font-weight:700;
  transition:0.4s;
}
.tasks .actions button:hover
{
    opacity:0.8;
}
.tasks .actions button:active
{
    opacity:0.6;
}
.task .actions .edit
{
    background-image:linear-gradient(to right,#EC4899,#885Cf6);
}
.task .actions .delete
{
    color:crimson;
}

